.last {
  margin-bottom: 6em;
  margin-top: 6em;

  .container {
    background-color: rgba(#707070, .1);
    border-radius: 20px;
    display: flex;
    padding-top: 2em;
    padding-bottom: 2em;
    height: 70vh;
    width: 80%;

  }

  &-title {
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 2px;
      height: 100%;
      background-color: $dark;
      right: 0;
    }

    img {
      width: 4em;
      margin-bottom: 2em;
    }

    span {
      font-size: 2rem;
      font-weight: normal;
      display: block;
    }

    &-text {
      font-size: 2rem;
      margin-bottom: 1.5em;
    }

    p {
      font-size: 1.3rem;
      font-weight: 200;
    }

  }

  &-grid {
    width: 77%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
    background-color: $dark;

    &-block {
      background-color: #f0f0f0;
      padding: 1em;

      img {
        width: 80%;
      }

      &-info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
          width: 1em;

        }

        .price {
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            margin-bottom: .2em;
            margin-right: .3em;
          }

          p {
            font-size: 1rem;
            font-weight: 100;
          }
        }

        .rate {
          display: flex;

          img {
            margin-bottom: .2em;
            margin-right: .3em;
          }

          p {
            font-size: 1rem;
            font-weight: 100;
          }
        }
      }

      &-location {
        display: flex;

        img {
          width: 1rem;
          margin-bottom: .2em;
          margin-right: .3em;
        }
      }
    }
  }
}